

body{
  
  margin: 0px;
  animation: animation1 15s;
  animation-iteration-count: infinite;
  font-family: Google Sans;
   }



input[type="email"]{
    border: none;
}



input[type="email"]:valid{
  transition: 1s;
  background-color: rgb(19, 158, 19);
}

input[name="contact"]:out-of-range{
  transition: 1s;
  background-color: rgb(235, 39, 39);
}

input[name="members"]:out-of-range{
  transition: 1s;
  background-color: rgb(235, 39, 39);
}

@keyframes animation1{
  0% { background-color: rgba(255, 0, 0, 0.774); }
  20% { background-color: rgba(255, 136, 0, 0.774); }
  40%  { background-color: rgba(0, 0, 255, 0.774); }
  60% { background-color: rgba(0, 128, 0, 0.774); }
  80% { background-color: rgba(171, 10, 192, 0.774);}
    100% { background-color: rgba(255, 0, 0, 0.774); }
}



header{
    background-color: rgba(0, 0, 0, 0.774);
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    position: fixed;
    font-weight: bold;
    padding: 20px 10px 25px 10px;
    z-index: 1;
    transition: 0.5s;
    width: 100%;
}

header:hover{
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.774);
  color: black;
}

main{
    color: rgb(255, 255, 255);
    position: relative;
    top: 90px;
    padding-top: 10px;
    font-size: 20px;
    margin-bottom: 50px;
   }

   button[type="submit"]{
       color: white;
       background-color: green;
       padding: 12px 20px;
       border: 0px;
       border-radius: 4px;
       cursor: pointer;
       float: left;
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.685  );
    transition: 0.5s;
   }

   button[type="reset"]{
    color: white;
    background-color:rgb(46, 46, 46);
    padding: 12px 20px;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.685);
    transition: 0.5s;
}

button[type=submit]:hover {
    background-color: #45a049;
  }
  
  button[type=reset]:hover {
    background-color: #555454;
  }

.Inputs{
  transition: 1s;
  width: 100%;
  padding: 15px;
  border-radius: 100px;
  border: none;
  resize: vertical;
  background-color: white;
}

.Inputs,#venue:focus{
  outline: none;
}


#venue{
  transition: 1s;
  width: 100%;
  padding: 15px;
  border-radius: 100px;
  resize: vertical;
  border: none;
  background-color: white;
}

input[type="checkbox"]{
  cursor: pointer;
}


#First{
    
    
    color: rgb(255, 255, 255);
    text-align: left;
    position: static;
   }

#Second{
    
    color: rgb(255, 255, 255);
    text-align: left;
    position: static;
   }

   #Third{
    color: rgb(255, 255, 255);
    text-align: left;
    position: static;
    }


   #Images{
    color: rgb(255, 255, 255);
    position: static;
    margin-bottom: 30px;
    padding: 10px 0px;
    box-sizing: border-box;
            }

img[alt="img1"]:hover{
     transform: scale(1.8);
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.685);
     transition: 0.5s;
        }  

     
   
   img[alt="img2"]:hover{
    transform: scale(1.8);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.685);
    transition: 0.5s;
  }    

  img[alt="img3"]:hover{
    transform: scale(1.8);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.685);
    transition: 0.5s;
  }    

  img[alt="img4"]:hover{
    transform: scale(1.8);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.685);
    transition: 0.5s;
  }   
  
  
  img[alt="img1"]{
    transition:0.3s;
    border-radius: 10px;
  }

  img[alt="img2"]{
    transition:0.3s;
    border-radius: 10px;
  }

  img[alt="img3"]{
    transition:0.3s;
    border-radius: 10px;
  }

  img[alt="img4"]{
    transition:0.3s;
    border-radius: 10px;
  }

  
   #gif{
    color: rgb(255, 255, 255);
    text-align: center;
    position: static;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 20px;
   }

   img[alt="img5"]{
    transition:0.3s;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

   img[alt="img5"]:hover{
    transform: scale(1.4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.685);
    transition: 0.5s;
  }   
   

  #video{
    position: static;
    text-align: center;
    padding:0px;
    padding-bottom: 15px;
      }


   h2{
    
    color: rgb(255, 255, 255);
    text-align: left;
    position: static;
    padding-left: 30px;
       }

   #crazy{
  transition: 0.5s;
  display: inline-block;
   }

   #crazy:hover{
    transition: 0.5s;
    animation: wiggle 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
   
  @keyframes wiggle{
    0% {transform: scale(4.5); color: tomato;}
    20% {transform: scale(1);color:white;}
    40% {transform: scale(4.5);color: tomato;}
    60% {transform: scale(1);color:white;}
    80% {transform: scale(4.5);color: tomato;}
    100% {transform: scale(1);color:white;}
  }


   #Others{
    color: rgb(255, 255, 255);
    text-align: left;
    position: static;
    padding-bottom: 50px;
    padding-left: 30px;
   }

   
   footer{
    background-color: rgba(0, 0, 0, 0.774);
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    padding: 25px 10px 20px 10px;
    position: relative;
    bottom: 0px;
    transition: 0.5s;
   }

   footer:hover{
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.774);
    color: black;
  }


  @media screen and (max-width: 600px){
header{
  background-color: rgba(0, 128, 128, 0.774);
}

footer{
  background-color: rgba(0, 128, 128, 0.774);
  width: 128%;
}

body{
  animation:none
}

img[alt="img1"],img[alt="img2"],img[alt="img3"],img[alt="img4"]{
  width: 150px;
  height: 75px;
}

main{
  font-size: 15px;
  width: 400px;
  padding-left: 30px;
  position: relative;
  left:30px;
  padding-bottom: 10px;
}

#First,#Second,#Third{

  padding-left: 20px;
  width: 115%;
  text-align: justify;
}

#Images{
  position: relative;
  left:59px;
  top:-12px;
}

#gif{

  position: relative;
  left:59px;

  }

  #Others{
  
    position: relative;
    left:10px;
    width: 115%;
  }

  

  video{
    position: relative;
    left:78px;
    border-radius: 15px;
    padding:0px;
    padding-bottom: 15px;
      }

#venue{
  width:110%;
 }

button[type=reset]{
position: relative;
left: 30px;
}

h2{
  position: relative;
  left:10px;
}

select{
appearance:none;
}

option{
  background-color: teal;
  color: white;
  outline: none;
}

option[disabled]{
  background-color: black;
}

.Inputs,#venue{
  background-color: teal;
}

}
