

body{
  background-color: rgb(51, 6, 158);
  margin: 0px;
}

input[type="email"]{
    background-color: rgb(156, 154, 231);
}



input[type="email"]:valid{
  transition: 1s;
  background-color: green;
}

input[name="contact"]:out-of-range{
  transition: 1s;
  background-color: rgb(235, 39, 39);
}

input[name="members"]:out-of-range{
  transition: 1s;
  background-color: rgb(235, 39, 39);
}


header{
    background-color: rgba(0, 0, 0, 0.774);
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 0px;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    z-index: 1;
}

main{
    color: rgb(255, 255, 255);
    font-weight: bold;
    resize: vertical;
    position: static;
    padding-top: 70px;
   }

   button[type="submit"]{
       color: white;
       background-color: green;
       padding: 12px 20px;
       border: 0px;
       border-radius: 4px;
       cursor: pointer;
       float: right;
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.685  );
    transition: 0.5s;
   }

   button[type="reset"]{
    color: white;
    background-color:rgb(46, 46, 46);
    padding: 12px 20px;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.685);
    transition: 0.5s;
}

button[type=submit]:hover {
    background-color: #45a049;
  }
  
  button[type=reset]:hover {
    background-color: #555454;
  }

.Inputs{
  transition: 1s;
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 100px;
  resize: vertical;
}

.Inputs,#venue:focus{
  outline: none;
}


#venue{
  transition: 1s;
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 100px;
  resize: vertical;
}

input[type="checkbox"]{
  cursor: pointer;
}


#First{
    
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-align: left;
    position: static;
    font-style: italic;
   }

#Second{
    
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-align: left;
    position: static;
    font-style: italic;
   }

   #Third{
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-align: left;
    position: static;
    font-style: italic;
    }


   #Images{
    border-radius: 10px;
    color: rgb(255, 255, 255);
    position: static;
    margin-bottom: 30px;
    padding: 10px 0px;
    box-sizing: border-box;
            }

img[alt="img1"]:hover{
     transform: scale(1.8);
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.685  );
     transition: 0.5s;
        }  

     
   
   img[alt="img2"]:hover{
    transform: scale(1.8);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.685  );
    transition: 0.5s;
  }    

  img[alt="img3"]:hover{
    transform: scale(1.8);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.685  );
    transition: 0.5s;
  }    

  img[alt="img4"]:hover{
    transform: scale(1.8);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.685  );
    transition: 0.5s;
  }   
  
  
  img[alt="img1"]{
    transition:0.3s;
    border-radius: 10px;
  }

  img[alt="img2"]{
    transition:0.3s;
    border-radius: 10px;
  }

  img[alt="img3"]{
    transition:0.3s;
    border-radius: 10px;
  }

  img[alt="img4"]{
    transition:0.3s;
    border-radius: 10px;
  }

   #video{
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    position: static;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
   }

   #gif{
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    position: static;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
   }


   h2{
    
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-align: left;
    position: static;
    font-weight: bold;
    padding-left: 30px;
   }

   #Others{
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-align: left;
    position: static;
    font-weight: bold;
    padding-bottom: 50px;
    padding-left: 30px;
   }

   
   footer{
    background-color: rgba(0, 0, 0, 0.774);
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    position: relative;
    bottom: 0px;
    margin-right: 0px;
   }

   
