body {
  margin: 0px;
  scroll-behavior: smooth;
  font-family: "Google Sans", -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: bold;
  font-size: large;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Google Sans", -apple-system, BlinkMacSystemFont, sans-serif;
  color: black;
  margin-left: 20px !important;
}

nav {
  background-image: linear-gradient(to top, rgba(100, 149, 237, 0.808), rgba(100, 149, 237, 0.808)), url('../Assets/nav-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: "Google Sans", -apple-system, BlinkMacSystemFont, sans-serif;
  color: white;
  width: 100%;
  position: fixed;
  padding: 30px 10px 27px 10px;
  transition: 0.3s;
  font-size: larger;
  z-index: 20;
}

/*
nav:hover{
    background-color: cornflowerblue;
    transition: 0.5s;
}
*/

a {
  text-decoration: none;
  color: white;
  transition: 0.3s
}

a:hover {
  color: black;
  transition: 0.3s;
  font-weight: bold;
}

a:active {
  color: black;
}

.home {
  padding-left: inherit;
  left: 60%;
  color: black;
  font-weight: bold;
  font-size: x-large;
  background-color: rgba(255, 255, 255, 0.247);
  padding: 10px;
  border-radius: 5px;
}


.about-me {
  padding-left: inherit;
}


.about-me:hover {
  background-color: rgba(255, 255, 255, 0.459);
  transition: 0.3s;
  border-radius: 5px;
  padding-left: inherit;
  padding: 10px;
  left: 60%;
  font-size: x-large;
}

#menu-line-1,
#menu-line-2,
#menu-line-3{
  width: 30px;
  height: 4px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0;
  transition: 0.5s;
}

#side-menu-button{  
  position: fixed;
  right: 0px;
  top: 19px;
  z-index: 1000;
  margin-right: 30px;
  transition: 1s;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 5px;
  box-sizing:border-box;
  padding: 5px 10px;
  cursor: pointer;
}

#side-menu-button:hover #menu-line-1 {
  transform: rotate(-35deg);
  transition: 0.5s;
}


#side-menu-button:hover #menu-line-2 {
  transition: 0.5s;
  position: relative;
  left: 2px;
}

#side-menu-button:hover #menu-line-3 {
  transform: rotate(35deg);
  transition: 0.5s;
}


#side-menu-button::after {
  transition: 0.5s;
}


.sidebar{  
  z-index: 900;
  position: fixed;
  right: -500px;
  top: 0px;
  width: 300px;
  height: 100%;
  background-color: rgb(100, 149, 237);
  transition: all 0.5s;  
}

li{  
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 5px;
  margin-bottom: 20px;  
  padding: 20px;
  transition: all 0.5s;
  text-align: center;
  list-style: none;
  color: white;
  text-decoration: none;
}

li:hover{
  background-color: white;
  transition: all 0.5s;
  color: black;
  cursor: pointer;
}


.sidebar-items-wrapper{
  margin-top: 100px;  
  margin-left: 20px;
  margin-right: 20px;
}


#check{
  display: none;
}

#check:checked ~ .sidebar{
  right: 0px;
  transition: all 0.5s;
 }

 
 #check:checked ~ #side-menu-button:hover #menu-line-1 {
  transform: rotate(40deg) !important;
  transition: 0.5s;
  position: relative;
  bottom: -10px;
}

#check:checked ~ #side-menu-button{
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 5px;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 4px;
  position: fixed;
  top: 6px;
  right: -27px;
  transition: none;
}

#check ~ #side-menu-button{
  transition: none;
}

#check:checked ~ #side-menu-button:hover #menu-line-2 {
  display: none;
}

#check:checked ~ #side-menu-button:hover #menu-line-3 {
  transform: rotate(-40deg);
  transition: 0.5s;
}

#check:checked ~ #side-menu-button #menu-line-1 {
  transform: rotate(40deg) !important;
  transition: 0.5s;
  position: relative;
  bottom: -10px;
}


#check:checked ~ #side-menu-button #menu-line-2 {
  display: none;
}

#check:checked ~ #side-menu-button #menu-line-3 {
  transform: rotate(-40deg);
  transition: 0.5s;
}

h1{
  margin-left: 10px;
  color:  rgba(100, 149, 237, 0.808);
}


.weather{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.ww-box{
  border-radius: 21px;  
  padding: 50px;
}

#ww_9c10a0a28dc08{
  background-color: transparent !important;
}

.Grid__Container-sc-x730z7-0{
  margin-left: 27px !important;
  margin-right: 29px !important;
}

#eapps-rss-feed-5e9423ba-4813-4e29-b822-8153364378e0{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.eapps-widget-toolbar{
  display: none !important;
}

a[target = "_blank"]{
  display: none !important;
}

.ButtonBase__Ellipsis-sc-p43e7i-5{
  font-family: "Google Sans", -apple-system, BlinkMacSystemFont, sans-serif;
  color: white;
  font-size: large;
  background-color: rgba(100, 149, 237, 0.918);
  border-radius: 5px;
  padding: 10px 10px;
}

.CardLayout__Container-sc-1degoda-5{
  background-image: linear-gradient(to top, rgba(100, 149, 237, 0.918), rgba(100, 149, 237, 0.918)), url('../Assets/nav-background.jpg') !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  background-attachment: local !important;
  border-radius: 21px !important;
  transition: 0.5s;
}

.CardLayout__Container-sc-1degoda-5:hover{
  transform: scale(0.9);
  transition: 0.5s;
}

@media screen and (max-width: 1000px){
  .weather{
    width: 450px;
  }

  #eapps-rss-feed-5e9423ba-4813-4e29-b822-8153364378e0{
    position: initial;
  }

  .CardLayout__Container-sc-1degoda-5:hover{
    transform: none;
    transition: none;
  }

  h1{
    text-align: center;
    margin-left: unset !important;
    z-index: 2;
  }

}
