body {
  margin: 0px;
}

h1 {
  font-family: "Google Sans", -apple-system, BlinkMacSystemFont, sans-serif;
  color: black;
}

nav {
  background-image: linear-gradient(to top, rgba(100, 149, 237, 0.808), rgba(100, 149, 237, 0.808)), url('../Assets/nav-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: "Google Sans", -apple-system, BlinkMacSystemFont, sans-serif;
  color: white;
  width: 100%;
  position: fixed;
  padding: 30px 10px 27px 10px;
  transition: 0.3s;
  font-size: larger;
}

/*
nav:hover{
    background-color: cornflowerblue;
    transition: 0.5s;
}
*/

a {
  text-decoration: none;
  color: white;
  transition: 0.3s
}

a:hover {
  color: black;
  transition: 0.3s;
  font-weight: bold;
}

a:active {
  color: black;
}

.home {
  padding-left: inherit;
  left: 60%;
  color: black;
  font-weight: bold;
  font-size: x-large;
  background-color: rgba(255, 255, 255, 0.247);
  padding: 10px;
  border-radius: 5px;
}


.about-me {
  padding-left: inherit;
}

.redirect:hover {
  background-color: rgba(255, 255, 255, 0.459);
  transition: 0.3s;
  border-radius: 5px;
  padding-left: inherit;
  padding: 10px;
  left: 60%;
  font-size: x-large;
}

.about-me:hover {
  background-color: rgba(255, 255, 255, 0.459);
  transition: 0.3s;
  border-radius: 5px;
  padding-left: inherit;
  padding: 10px;
  left: 60%;
  font-size: x-large;
}

.three-stripe-menu {
  width: 30px;
  height: 4px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0;
  transition: 0.5s;
}

.main-menu-button {
  float: right;
  margin-right: 5%;
  cursor: pointer;
}


#menu-line-1,
#menu-line-2,
#menu-line-3 {
  transition: 0.5s;
}

.main-menu-button:hover #menu-line-1 {
  transform: rotate(35deg);
  transition: 0.5s;
}


.main-menu-button:hover #menu-line-2 {
  transition: 0.5s;
  width: 28px;
}


.main-menu-button:hover #menu-line-3 {
  transform: rotate(-35deg);
  transition: 0.5s;
}


a.main-menu-button::after {
  transition: 0.5s;
}

h1{
  margin-left: 10px;
  color:  rgba(100, 149, 237, 0.808);
}