body{  
    margin: 0px;
}

h1{
    font-family: "Google Sans", -apple-system, BlinkMacSystemFont, sans-serif;
    color: blue;
}

nav{
    background-color: blue;
    font-family: "Google Sans", -apple-system, BlinkMacSystemFont, sans-serif;
    color: white;
    width: 100%;
    position: fixed;
    padding: 20px 10px 20px 10px;
    transition: 0.3s;
}

/*
nav:hover{
    background-color: cornflowerblue;
    transition: 0.5s;
}
*/

a{
    text-decoration: none;
    color: white;
    transition: 0.3s
}

a:hover{
    color: black;
    transition: 0.3s;
    font-weight: bold;
}


.home{
    padding-left: inherit;
    left: 60%;
}


.about-me{
    padding-left: inherit;
}

.three-stripe-menu {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 6px 0;    
    transition: 0.5s;
  }

  .main-menu-button {
    float: right;
    margin-right: 5%;
  }

  .three-stripe-menu:hover {
    width: 20px;
    height: 4px;
    background-color: black;
    margin: 6px 0;
    transition: 0.5s;
  }
